body {
    background-color: #FFFFFF;
    font-family: cursive;

    text-align: justify;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding: 10px;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    background-color: #00AAFF;
    background-image: linear-gradient(#4adcf9, #4a9cf9);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px 10%;
    flex: 1 0 auto;
}

h1 {
    width: 250px;
    flex: 1 1 auto;
    font-size: 24px;
    color: #c73535;
    text-transform: uppercase;
}

.nav {
    width: 70%;
    margin-left: 10%;
    justify-content: end;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 6px 0;
}

.nav-item {
    background-color: #4092de;
    line-height: 35px;

    display: flex;
    flex: 1 1 110px;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    font-weight: 500;
    font-size: 19px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 1s;
}

.nav-item:hover {
    background-color: #145a9b;
}

h2, h3, h4, h5, h6 {
    padding: 10px;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 9.09%;
}

.left-part {
    background-color: rgb(228, 228, 228, 0.6);
    flex: 1 1 18.18%;
}

.image-left-part {
    max-width: 100%;
    align-self: center;
}

.middle-part {
    background-color: rgb(226, 226, 251, 0.6);
    flex: 1 1 18.18%;
}

.right-part {
    display: flex;
    flex-direction: column;
    flex: 1 1 45.46%;
}

.right-part-header {
    background-color: rgb(250, 207, 178, 0.6);
    flex: 0 1 650px;
    width: 100%;
}

.image-right-part-header {
    max-width: 100%;
}

.info-bar-area {
    display: flex;
    flex: 1 1 450px;
    flex-direction: row;
    gap: 20%;
    width: 100%;
}

.left-info-bar {
    background-color: rgb(193, 223, 250, 0.6);
    flex: 1 1 40%;
}

.left-info-bar > ol {
    padding-left: 30px;
}

.right-info-bar {
    background-color: rgb(202, 255, 234, 0.6);
    opacity: 0.8;
    flex: 1 1 40%;
}

.right-info-bar > ul {
    padding-left: 30px;
}

.footer {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(#4a9cf9, #3d4bcc);
}

.footer ul {
    max-width: 230px;
    list-style: none;
    color: #FFFFFF;
}

.footer h1 {
    text-align: right;
}

@media (max-width: 961px) {
    body {
        background-color: #FFFFFF;
        font-family: cursive;
        font-size: 11px;
        text-align: justify;
        min-height: 100vh;
    }

    .main {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 0;
    }

    .left-part {
        background-color: rgb(228, 228, 228, 0.6);
        flex: 1 1 25%;
    }
    
    .middle-part {
        background-color: rgb(226, 226, 251, 0.6);
        flex: 1 1 25%;
    }
    
    .right-part {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
    }
    
    .info-bar-area {
        display: flex;
        flex: 1 1 450px;
        flex-direction: row;
        width: 100%;
        gap: 0;
    }

    .left-info-bar {
        background-color: rgb(193, 223, 250, 0.6);
        flex: 1 0 50%;
    }
    
    .right-info-bar {
        background-color: rgb(202, 255, 234, 0.6);
        opacity: 0.8;
        flex: 1 0 50%;
    }
}